<ActionBar title="Notes">
    <NavigationButton  class="blue2" *ngIf="isAndroid" icon="res://ic_back" (tap)="goBack()"></NavigationButton>
    <ActionItem class="blue2" *ngIf="isIos" ios.position="left" (tap)="goBack()">
        <Label text="&#xE5CB;" class="blue2 material-icons md-36 md-chevron-left"></Label>
    </ActionItem>

    <ActionItem (tap)="addNote()" ios.position="right" android.position="right">
        <Label text="&#xE145;" class="text-right blue2 material-icons md-36 md-chevron-add"></Label>
    </ActionItem>
</ActionBar>

<GridLayout class="kid-notes-container">

    <StackLayout *ngIf="!notes.length" visibility="{{ isLoading ? 'collapsed' : 'visible'}}">
        <CardView  margin="30 10 10 10" radius="5" elevation="3"  class="grayCard">
            <Gridlayout rows="auto" columns="auto,*" verticalAlignment="center" class="p-20" orientation="horizontal">
                <Label row="0" col="0" class="blue2 material-icons md-24 m-r-10 md-info" text="&#xE88E;"></Label>
                <Label textWrap="true" row="0" col="1" class="text-left blue2" verticalAlignment="center"
                       [text]="noNotesMessage"></Label>
            </Gridlayout>
        </CardView>
    </StackLayout>

    <ScrollView>
        <StackLayout *ngIf="notes.length" margin="10 0 0 0">
            <StackLayout *ngFor="let note of notes">
                <StackLayout *ngIf="note.description" (tap)="editNote(note)">
                    <StackLayout orientation="vertical" class="notes-item">
                        <Label text="{{ note.description.split('\n')[0] }}" class="first-line"></Label>
                        <StackLayout orientation="horizontal" class="text-muted second-line">
                            <Label text="{{ note.created_at  | date: 'M/d/yy' }}"></Label>
                            <Label text="{{ note.description.replace(note.description.split('\n')[0], '').trim() }}" class="m-l-10"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>

    <StackLayout class="dimmer" visibility="{{ isLoading ? 'visible' : 'collapsed'}}"></StackLayout>
    <GridLayout rows="*" visibility="{{ isLoading ? 'visible' : 'collapsed'}}">
        <ActivityIndicator class="busy activity-indicator" busy="true"></ActivityIndicator>
    </GridLayout>

</GridLayout>