Image.kid-profile-pic{
    border-radius: 36;
    border-color:  #9fc5f8;
    border-width: 1;
    border-radius: 38;
}

.number-with-circle.reminders-count{
    background-color: orange;
}
.number-with-circle.notifications-count{
    background-color:  #2b78e4;
    margin-left: 3px;
}