

.myclass-container .profile-pic{
    margin: 20px;
}

.myclass-container .kid-name{
    font-weight: bold;
    font-size: 15px;
}
.myclass-container .kid-age{
    font-size: 12px;
}
.myclass-container .right-section{
    margin-right: 20px;
}

.number-with-circle{
    display: block;
    height: 15px;
    width: 15px;
    line-height: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 10px;
}

.number-with-circle.reminders-count{
    background-color: orange;
}
.number-with-circle.notifications-count{
    background-color:  #2b78e4;
    margin-left: 2px;
}