StackLayout.empty-forms-docs {
    margin: 0 30 40 30;
}

.empty-forms-docs .message {
    color: #999999;
    font-weight: 700;
    font-size: 17;
    font-style: italic;
    margin-bottom: 30;
}

StackLayout.form-or-doc-item{
    margin: 17 30 17 30;

    font-size: 17;
    font-weight: bold;
}