<ActionBar title="">
    <!-- left area  -->
    <NavigationButton *ngIf="isIos" visibility="collapsed"></NavigationButton>
    <NavigationButton *ngIf="isAndroid" icon="res://ic_left" (tap)="goBack()"></NavigationButton>
    <ActionItem *ngIf="isIos" icon="res://ic_left" visibility="visible"
                ios.position="left" (tap)="goBack()"></ActionItem>
    <!-- center area  -->
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="center">
        <StackLayout orientation="horizontal" verticalAlignment="center">
            <Label text="{{ kid.fname }} {{ kid.lname }}" class="action-label"></Label>
        </StackLayout>
    </StackLayout>
    <!-- right area  -->

</ActionBar>


<GridLayout class="kid-profile">
    <ScrollView>
        <GridLayout rows="auto,auto">
            <StackLayout row="0">
                <GridLayout rows="auto" columns="auto, auto, *" class="kid-profile-header">
                    <StackLayout row="0" col="0">
                        <Image height="100" width="100" class="kid-profile-pic blue-circle-border"
                               src="{{ kid.photograph_url || '~/images/avatar-100.png' }}"></Image>
                    </StackLayout>

                    <StackLayout row="0" col="1" verticalAlignment="center" orientation="vertical" class="p-l-20">
                        <Label [text]="kid.nickname" class="fname"></Label>
                        <Label [text]="kid.age+' old'" class="text-muted age"></Label>
                    </StackLayout>

                    <!--<StackLayout (tap)="closeProfile()" row="0" col="2" class="text-right" verticalAlignment="top" horizontalAlignment="right">
                        <Label class="material-icons md-24 md-close" text="&#xE5CD;"></Label>
                    </StackLayout>-->
                </GridLayout>
                <StackLayout class="hr-light">
                </StackLayout>
            </StackLayout>

            <StackLayout row="1">

                <StackLayout>
                    <StackLayout orientation="vertical" class="item-details">
                        <Label text="Full Name" class="header text-muted"></Label>
                        <Label class="value" [text]="kid.fname +' ' + kid.mname+ ' '+ kid.lname"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout orientation="vertical" class="item-details">
                        <Label text="Preferred Name" class="header text-muted"></Label>
                        <Label class="value" [text]="kid.nickname"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout orientation="vertical" class="item-details">
                        <Label text="Birthday" class="header text-muted"></Label>
                        <Label class="value" [text]="kid.birthdate"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout orientation="vertical" class="item-details">
                        <Label text="Gender" class="header text-muted"></Label>
                        <Label class="value" [text]="kid.gender"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout orientation="vertical" class="item-details">
                        <Label text="Other Basic Details" class="header text-muted"></Label>
                        <Label class="value" [text]="kid.other_basic_details || ' '" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout orientation="vertical" class="item-details">
                        <Label text="Primary Doctor" class="header text-muted"></Label>
                        <Label class="value blue2" [text]="kid.doctor?.name || ' '" textWrap="true"></Label>
                        <Label class="value blue2" [text]="kid.doctor?.email" textWrap="true"></Label>
                        <Label class="value blue2" [text]="kid.doctor?.phone_no" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>


                    <StackLayout orientation="vertical" class="item-details">
                        <Label text="Dentist" class="header text-muted"></Label>
                        <Label class="value blue2" [text]="kid.dentist?.name || ' '" textWrap="true"></Label>
                        <Label class="value blue2" [text]="kid.dentist?.email" textWrap="true"></Label>
                        <Label class="value blue2" [text]="kid.dentist?.phone_no" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout orientation="vertical" class="item-details">
                        <Label text="Medicines" class="header text-muted"></Label>
                        <Label class="value" [text]="kid.medicines || ' '" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout orientation="vertical" class="item-details">
                        <Label text="Food Allergies" class="header text-muted"></Label>
                        <Label class="value" [text]="kid.food_allergies || ' '" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout orientation="vertical" class="item-details">
                        <Label text="Drug Allergies" class="header text-muted"></Label>
                        <Label class="value" [text]="kid.drug_allergies || ' '" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>


                    <StackLayout orientation="vertical" class="item-details">
                        <Label text="Medical Issues" class="header text-muted"></Label>
                        <Label class="value" [text]="kid.medical_issues || ' '" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout orientation="vertical" class="item-details">
                        <Label text="Special Needs" class="header text-muted"></Label>
                        <Label class="value" [text]="kid.special_needs || ' '" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout orientation="vertical" class="item-details">
                        <Label text="Other Health/Wellness" class="header text-muted"></Label>
                        <Label class="value" [text]="kid.other_concerns || ' '" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout *ngFor="let parent of kid.parents">
                        <StackLayout orientation="vertical" class="item-details" *ngIf="parent">
                            <Label [text]="parent.relation_ship" class="header text-muted"></Label>
                            <Label class="value blue2" [text]="parent.fname +' '+parent.lname " textWrap="true"></Label>
                            <Label class="value blue2" [text]="parent.email" textWrap="true"></Label>
                            <StackLayout orientation="horizontal" *ngFor="let phone of parent.phone_numbers">
                                <Label *ngIf="phone?.number" class="value blue2" [text]="phone.number"
                                       textWrap="true"></Label>
                                <Label *ngIf="phone?.type" class="p-l-10 text-muted" text="({{ phone.type }})"
                                       textWrap="true"></Label>
                            </StackLayout>

                        </StackLayout>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>


                </StackLayout>

            </StackLayout>

        </GridLayout>
    </ScrollView>


    <StackLayout class="dimmer" visibility="{{ isLoading ? 'visible' : 'collapsed'}}"></StackLayout>
    <GridLayout rows="*" visibility="{{ isLoading ? 'visible' : 'collapsed'}}">
        <ActivityIndicator class="busy activity-indicator" busy="true"></ActivityIndicator>
    </GridLayout>

</GridLayout>