<GridLayout class="drawer-header">
    <StackLayout orientation="vertical" class="m-t-20">
        <StackLayout horizontalAlignment="center"  verticalAlignment="center">
            <Image stretch ="none" class="img-circle" src="http://placeimg.com/150/150/people"></Image>
        </StackLayout>
        <StackLayout horizontalAlignment="center"  verticalAlignment="center">
            <Label text="Teacher name goes here"  class="teacher-name"></Label>
        </StackLayout>
    </StackLayout>
</GridLayout>

<StackLayout class="drawer-links" orientation="vertical">
    <StackLayout class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/calendar']">
        <Label class="fa" text="{{'fa-calendar-o' | fonticon}}"></Label>
        <Label class="text" text="Calendar"></Label>
    </StackLayout>
    <StackLayout class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/myclass']">
        <Label class="fa" text="{{'fa-child' | fonticon}}"></Label>
        <Label class="text" text="My Class"></Label>
    </StackLayout>

    <StackLayout class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/']">
        <Label class="fa" text="{{'fa-comments' | fonticon}}"></Label>
        <Label class="text" text="Messages"></Label>
    </StackLayout>

    <StackLayout class="drawer-separator">
    </StackLayout>
    <StackLayout class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/settings']">
        <Label class="fa" text="{{'fa-cogs' | fonticon}}"></Label>
        <Label class="text" text="Settings"></Label>
    </StackLayout>


    <StackLayout class="drawer-separator">
    </StackLayout>
    <StackLayout class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/logoff']">
        <Label class="fa" text="{{'fa-sign-out' | fonticon}}"></Label>
        <Label class="text" text="Logout"></Label>
    </StackLayout>

</StackLayout>
