<GridLayout class="drawer-header">
    <StackLayout orientation="vertical" class="m-t-20">
        <StackLayout horizontalAlignment="center"  verticalAlignment="center">
            <Image height="100" width="100" class="teacher-profile-pic blue-circle-border"
                   src="{{ teacherPhotograph ? teacherPhotograph : '~/images/avatar-100.png' }}"></Image>

        </StackLayout>
        <StackLayout class="m-t-10 m-b-10" horizontalAlignment="center"  verticalAlignment="center">
            <Label text="{{ teacherFullname }}"  class="teacher-name"></Label>
        </StackLayout>
    </StackLayout>
</GridLayout>

<StackLayout class="drawer-links" orientation="vertical">
    <StackLayout class="drawer-link"
                 [nsRouterLinkActive]="['bg-primary']"
                 orientation="horizontal"
                 [nsRouterLink]="['/calendar']"
                 pageTransition="slideLeft">
        <Label class="fa" text="{{'fa-calendar-o' | fonticon}}"></Label>
        <Label class="text" text="Calendar"></Label>
    </StackLayout>
    <StackLayout class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/myclass']"
                 [nsRouterLinkActive]="['bg-primary']"
                 pageTransition="slideLeft">
        <Label class="fa" text="{{'fa-child' | fonticon}}"></Label>
        <Label class="text" text="Class Room"></Label>
    </StackLayout>

    <!--<StackLayout class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/']">
        <Label class="fa" text="{{'fa-comments' | fonticon}}"></Label>
        <Label class="text" text="Messages"></Label>
    </StackLayout>-->

    <StackLayout class="drawer-separator">
    </StackLayout>
    <StackLayout class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/settings']"
                 [nsRouterLinkActive]="['bg-primary']"
                 pageTransition="slideLeft">
        <Label class="fa" text="{{'fa-cogs' | fonticon}}"></Label>
        <Label class="text" text="Settings"></Label>
    </StackLayout>


    <!--<StackLayout class="drawer-separator">
    </StackLayout>
    <StackLayout class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/logout']">
        <Label class="fa" text="{{'fa-sign-out' | fonticon}}"></Label>
        <Label class="text" text="Logout"></Label>
    </StackLayout>-->

</StackLayout>
