<ActionBar title="">
    <!-- left area  -->
    <NavigationButton *ngIf="isIos" visibility="collapsed"></NavigationButton>
    <NavigationButton *ngIf="isAndroid" icon="res://ic_left" (tap)="goBack()"></NavigationButton>
    <ActionItem *ngIf="isIos" icon="res://ic_left" visibility="visible"
                ios.position="left" (tap)="goBack()"></ActionItem>
    <!-- center area  -->
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="center">
        <StackLayout orientation="horizontal" verticalAlignment="center">
            <Label text="Change Password" class="action-label"></Label>
        </StackLayout>
    </StackLayout>
    <!-- right area  -->
    <ActionItem (tap)="updatePassword()" ios.position="right" andriod.postion="actionBar" icon="res://ic_check">
    </ActionItem>


</ActionBar>

<GridLayout class="change-password-container">
    <GridLayout rows="*" >
        <StackLayout row="0" verticalAlignment="top" class="m-t-20">
            <GridLayout rows="auto,auto, auto" class="p-20">
                <StackLayout row="0">
                    <TextField class="input input-border input-border-primary input-field" hint="Current Password"
                               [(ngModel)]="currentPassword"
                               secure="true" id="currentPassword"></TextField>
                    <Label *ngIf="currentPasswordError" visibility="{{ currentPassword ? 'collapse' : 'visible' }}" text="current password can't be blank" class="error-label"></Label>
                </StackLayout>
                <StackLayout row="1" class="p-t-10">
                    <TextField class="input input-border input-border-primary input-field"
                               hint="New Password" secure="true" [(ngModel)]="newPassword" id="newPassword"></TextField>
                    <Label *ngIf="newPasswordError" visibility="{{ newPassword ? 'collapse' : 'visible' }}" text="new password can't be blank" class="error-label"></Label>
                </StackLayout>

                <StackLayout row="2" class="p-t-10">
                    <TextField class="input input-border input-border-primary input-field"
                               hint="Confirm New Password" secure="true" [(ngModel)]="confirmPassword" id="confirmPassword"></TextField>
                    <Label *ngIf="confirmPasswordError" visibility="{{ confirmPassword ? 'collapse' : 'visible' }}" text="confirm password can't be blank" class="error-label"></Label>
                </StackLayout>

                <!--<StackLayout row="3"  horizontalAlignment="right">
                        <Button row="0" col="1"  isEnabled="{{ isLoading ? false : true }}" text="Update"
                                class="btn btn-primary blue2-background btn-rounded-sm btn-submit" (tap)="updatePassword()"></Button>
                </StackLayout>-->
            </GridLayout>
        </StackLayout>
    </GridLayout>

    <StackLayout class="dimmer" visibility="{{ isLoading ? 'visible' : 'collapsed'}}"></StackLayout>
    <GridLayout rows="*" visibility="{{ isLoading ? 'visible' : 'collapsed'}}">
        <ActivityIndicator class="busy activity-indicator" busy="true"></ActivityIndicator>
    </GridLayout>

</GridLayout>