<ActionBar title="">
    <NavigationButton text="" icon="res://ic_back" (tap)="goBack()"></NavigationButton>
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="center">
        <!-- <Image src="res://nativescript_logo" class="action-image"></Image>-->
        <Label text="Settings"  class="action-label"></Label>
    </StackLayout>
</ActionBar>

<GridLayout>
    <StackLayout style="background-color: #f9f9f9" class="p-t-20">
        <CardView margin="5 10 5 10" radius="10" elevation="10"  class="whiteCard">
            <Gridlayout rows="auto" columns="auto,*,auto" verticalAlignment="center" class="settings-item" orientation="horizontal">
                <Label row="0" col="0" class="m-r-20 material-icons md-18 m-r-20 md-settings" text="&#xE8B8;" style="color: #2b78e4;"></Label>
                <Label row="0" col="1" verticalAlignment="center" text="General"
                       class="text-left font-weight-bold"></Label>
                <Label row="0" col="2" verticalAlignment="center" horizontalAlignment="right"
                       class="material-icons md-24 md-chevron-right text-right" text="&#xE5CC;"></Label>
            </Gridlayout>
        </CardView>

        <CardView  margin="5 10 5 10" radius="10" elevation="10"  class="whiteCard">
            <Gridlayout rows="auto" columns="auto,*,auto" verticalAlignment="center" class="settings-item" orientation="horizontal">
                <Label row="0" col="0" class="m-r-20 material-icons md-18 m-r-20 md-info" text="&#xE88E;"  style="color: #2b78e4;"></Label>
                <Label row="0" col="1" verticalAlignment="center" text="About"
                       class="text-left font-weight-bold"></Label>
                <Label row="0" col="2" verticalAlignment="center" horizontalAlignment="right"
                       class="material-icons md-24 md-chevron-right text-right" text="&#xE5CC;"></Label>
            </Gridlayout>
        </CardView>

        <CardView margin="5 10 5 10" radius="10" elevation="10"  class="whiteCard" (tap)="logOut()">
            <Gridlayout rows="auto" columns="auto,*,auto" verticalAlignment="center" class="settings-item" orientation="horizontal">
                <Label row="0" col="0" class="m-r-20 material-icons md-18 m-r-20 md-exit-to-app" text="&#xE879;" style="color: #2b78e4;"></Label>
                <Label row="0" col="1" verticalAlignment="center" text="Logout"
                       class="text-left font-weight-bold"></Label>
                <Label row="0" col="2" verticalAlignment="center" horizontalAlignment="right"
                       class="material-icons md-24 md-chevron-right text-right" text="&#xE5CC;"></Label>
            </Gridlayout>
        </CardView>
    </StackLayout>


    <StackLayout class="dimmer" visibility="{{ isLoading ? 'visible' : 'collapsed'}}"></StackLayout>
    <GridLayout rows="*" visibility="{{ isLoading ? 'visible' : 'collapsed'}}">
        <ActivityIndicator class="busy activity-indicator" busy="true"></ActivityIndicator>
    </GridLayout>
</GridLayout>

