<ActionBar title="">
    <!-- left area  -->
    <NavigationButton *ngIf="isIos" visibility="collapsed"></NavigationButton>
    <NavigationButton *ngIf="isAndroid" icon="res://ic_left" (tap)="goBack()"></NavigationButton>
    <ActionItem *ngIf="isIos" icon="res://ic_left" visibility="visible"
                ios.position="left" (tap)="goBack()"></ActionItem>
    <!-- center area  -->
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="center">
        <StackLayout orientation="horizontal" verticalAlignment="center">
            <Label text="Settings" class="action-label"></Label>
        </StackLayout>
    </StackLayout>
    <!-- right area  -->
</ActionBar>



<GridLayout>
    <StackLayout style="background-color: #f9f9f9" class="p-t-20">
        <CardView margin="5 10 5 10" radius="10" elevation="10" class="whiteCard"
                  [nsRouterLink]="['/change-password']"
                  pageTransition="slideTop">
            <Gridlayout rows="auto" columns="auto,*,auto" verticalAlignment="center" class="settings-item"
                        orientation="horizontal">
                <Label row="0" col="0" text=""></Label>
                <Label row="0" col="1" verticalAlignment="center" text="Change Password"
                       class="text-left font-weight-bold"></Label>
                <Label row="0" col="2" verticalAlignment="center" horizontalAlignment="right"
                       class="material-icons md-24 md-chevron-right text-right" text="&#xE5CC;"></Label>
            </Gridlayout>
        </CardView>

        <CardView margin="5 10 5 10" radius="10" elevation="10" class="whiteCard" (tap)="logOut()">
            <Gridlayout rows="auto" columns="auto,*,auto" verticalAlignment="center" class="settings-item"
                        orientation="horizontal">
                <Label row="0" col="0" text=""></Label>
                <Label row="0" col="1" verticalAlignment="center" text="Logout"
                       class="text-left font-weight-bold"></Label>
                <Label row="0" col="2" verticalAlignment="center" horizontalAlignment="right"
                       class="material-icons md-24 md-chevron-right text-right" text="&#xE5CC;"></Label>
            </Gridlayout>
        </CardView>

        <CardView margin="5 10 5 10" radius="10" elevation="10" class="whiteCard"
                  [nsRouterLink]="['/myschool']"
                  pageTransition="slideTop">
            <Gridlayout rows="auto" columns="auto,*,auto" verticalAlignment="center" class="settings-item"
                        orientation="horizontal">
                <Label row="0" col="0" text=""></Label>
                <Label row="0" col="1" verticalAlignment="center" text="My School"
                       class="text-left font-weight-bold"></Label>
                <Label row="0" col="2" verticalAlignment="center" horizontalAlignment="right"
                       class="material-icons md-24 md-chevron-right text-right" text="&#xE5CC;"></Label>
            </Gridlayout>
        </CardView>
    </StackLayout>


    <StackLayout class="dimmer" visibility="{{ isLoading ? 'visible' : 'collapsed'}}"></StackLayout>
    <GridLayout rows="*" visibility="{{ isLoading ? 'visible' : 'collapsed'}}">
        <ActivityIndicator class="busy activity-indicator" busy="true"></ActivityIndicator>
    </GridLayout>
</GridLayout>

