<ActionBar title="">
    <!-- left area  -->
    <NavigationButton *ngIf="isIos" visibility="collapsed"></NavigationButton>
    <NavigationButton *ngIf="isAndroid" icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
    <ActionItem *ngIf="isIos" icon="res://ic_menu" visibility="visible"
                ios.position="left" (tap)="openDrawer()"></ActionItem>
    <!-- center area  -->
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="center">
        <StackLayout orientation="horizontal" verticalAlignment="center">
            <Label text="Schedule" class="action-label"></Label>
        </StackLayout>
    </StackLayout>
    <!-- right area  -->
</ActionBar>


<RadSideDrawer #drawerComponent tkToggleNavButton>
    <ScrollView tkDrawerContent class="drawer-content">
        <StackLayout horizzontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <GridLayout tkMainContent>


        <StackLayout>

            <GridLayout rows="auto, auto,4*,auto,2*,auto,3*">
                <!--Row: 0 ##################  DateSelector --------------------------------------------------------------------------->
                <StackLayout row="0">
                    <StackLayout (tap)="createModalDatePickerView()"
                                 class="green today-date {{ iscurrentDateSelected ? 'active' : ''}}">
                        <Gridlayout cols="*,auto" verticalAlignment="center" orientation="horizontal">
                            <Label row="0" col="0" text="{{ currentDate  | date: 'EEEE, MMMM d' }}"
                                   class="schedule-date text-center"></Label>
                        </Gridlayout>
                    </StackLayout>

                </StackLayout>
                <StackLayout row="1" class="hr-light">
                </StackLayout>

                <!--Row: 2 ##################  Schedule -------------------------------------------------------------------------------->

                <StackLayout row="2" verticalAlignment="center">
                    <GridLayout columns="auto,*,auto" class="calendar-schedule">
                        <Image col="0" stretch="none" verticalAlignment="center" class="schedule-icon"
                               src="res://schedule_icon"></Image>
                        <ScrollView col="1">
                            <StackLayout verticalAlignment="center">
                                <Label horizontalAlignment="left" *ngIf="!schedules.length" class="schedule-empty-data"
                                       text="your school has no schedule for you today" visibility="{{ isLoading ? 'collapsed' : 'visible'}}" textWrap="true"></Label>
                                <GridLayout rows="auto,*" *ngFor="let item of schedules; let i = index">
                                    <GridLayout row="0" columns="auto, *" rows="auto,auto"
                                                class="m-t-5 item {{ isScheduleTimeIsCurrent(item.start_time, item.end_time) ? 'blue' : '' }}">
                                        <Label col="0" row="0"
                                               text="{{item.start_time | date: 'HH:mm' }}-{{ item.end_time | date: 'HH:mma'  | lowercase }}">
                                        </Label>
                                        <Label col="1" row="0" class="event m-r-5" text="{{ item.name }}"
                                               textWrap="true"></Label>
                                    </GridLayout>
                                    <!-- Don't show horizontal line for last element -->
                                    <StackLayout *ngIf="schedules.length > (i+1)" class="hr-shadow"
                                                 row="1"></StackLayout>
                                </GridLayout>
                            </StackLayout>
                        </ScrollView>
                    </GridLayout>
                </StackLayout>

                <StackLayout row="3" class="hr-light">
                </StackLayout>

                <!--Row: 3 ##################  Reminders -------------------------------------------------------------------------------->
                <StackLayout row="4" verticalAlignment="center">
                    <GridLayout columns="auto,*" class="calendar-reminder font-italic"
                                verticalAlignment="center">
                        <Image col="0" stretch="none" verticalAlignment="center" class="reminder-icon"
                               src="res://reminder_icon"></Image>
                        <ScrollView col="1">
                            <StackLayout verticalAlignment="center">
                                <Label horizontalAlignment="left" *ngIf="!birthdays.length && !event_reminders.length && !holidays.length" class="schedule-empty-data"
                                       text="nothing to remind you for the day" visibility="{{ isLoading ? 'collapsed' : 'visible'}}" textWrap="true"></Label>
                                <!-- Birthdays -->
                                <SatckLayout orientation="horizontal" *ngFor="let item of birthdays; let i = index">
                                    <Label col="0" text="{{item.description}}" class="m-t-5 item"
                                           textWrap="true"></Label>
                                    <StackLayout *ngIf="birthdays.length > (i+1)" class="hr-shadow"
                                                 row="1"></StackLayout>
                                </SatckLayout>
                                <!-- Event Reminders -->
                                <StackLayout *ngIf="birthdays.length > 0 && event_reminders.length > 0"
                                             class="hr-shadow"
                                             row="1"></StackLayout>
                                <SatckLayout orientation="horizontal"
                                             *ngFor="let item of event_reminders; let i = index">
                                    <Label (tap)="openDescription(item.description)" col="0"
                                           text="{{ item.description }}"
                                           class="m-t-5 item"></Label>
                                    <StackLayout *ngIf="event_reminders.length > (i+1)" class="hr-shadow"
                                                 row="1"></StackLayout>
                                </SatckLayout>
                                <!-- Holidays -->
                                <StackLayout
                                        *ngIf="event_reminders.length > 0 && birthdays.length > 0 && holidays.length > 0"
                                        class="hr-shadow" row="1"></StackLayout>
                                <SatckLayout orientation="horizontal" *ngFor="let item of holidays; let i = index">
                                    <Label col="0" text="{{ item.description }}" class="item blue"
                                           textWrap="true"></Label>
                                    <StackLayout *ngIf="holidays.length > (i+1)" class="hr-shadow"
                                                 row="1"></StackLayout>
                                </SatckLayout>
                            </StackLayout>
                        </ScrollView>
                    </GridLayout>
                </StackLayout>

                <StackLayout row="5" class="hr-light">
                </StackLayout>

                <!--Row: 4 ##################  Messages -------------------------------------------------------------------------------->
                <StackLayout row="6" verticalAlignment="center">
                    <GridLayout columns="auto,*" class="calendar-message">
                        <Image col="0" stretch="none" verticalAlignment="center" class="message-icon"
                               src="res://message_icon"></Image>
                        <ScrollView col="1">
                            <StackLayout verticalAlignment="center">
                                <Label horizontalAlignment="left" *ngIf="!messages.length" class="schedule-empty-data"
                                       text="no messages to show" visibility="{{ isLoading ? 'collapsed' : 'visible'}}" textWrap="true"></Label>
                                <GridLayout rows="auto,auto" *ngFor="let item of messages; let i = index">
                                    <GridLayout row="0" columns="50, *" rows="*" class="item"
                                                (tap)="openMessageConversation(item)">
                                        <StackLayout verticalAlignment="center">
                                            <Image *ngIf="item.photograph"  height="40" width="40" class="kid-profile-pic blue-circle-border"
                                                   src="{{ item.photograph }}"></Image>

                                            <StackLayout *ngIf="!item.photograph" class="blue-circle-border small-avatar-with-name text-center" verticalAlignment="center" >
                                                <Label text="{{ item.sender_name[0]+''+item.sender_name[1] | uppercase }}"></Label>
                                            </StackLayout>

                                        </StackLayout>
                                        <StackLayout col="1">
                                            <StackLayout col="1" orientation="horizontal">
                                                <Label class="profile-name" [text]="item.sender_name"
                                                       textwrap="true"></Label>
                                                <Label *ngIf="item.child_name" class="profile-relationship" style="font-size: 12;"
                                                       text="{{ item.child_name }}'s {{ item.child_relationship }}"
                                                       textwrap="true"></Label>
                                            </StackLayout>
                                            <Label [text]="item.text"
                                                   class="message-text {{ item.read_message ? 'text-muted' : 'blue' }}"
                                                   col="1"
                                                   textwrap="true"></Label>
                                        </StackLayout>
                                    </GridLayout>
                                    <!-- Don't show horizontal line for last element -->
                                    <StackLayout *ngIf="messages.length > (i+1)" class="hr-shadow"
                                                 row="1"></StackLayout>
                                </GridLayout>
                            </StackLayout>
                        </ScrollView>
                    </GridLayout>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout class="dimmer" visibility="{{ isLoading ? 'visible' : 'collapsed'}}"></StackLayout>
        <GridLayout rows="*" visibility="{{ isLoading ? 'visible' : 'collapsed'}}">
            <ActivityIndicator class="busy activity-indicator" busy="true"></ActivityIndicator>
        </GridLayout>
    </GridLayout>

</RadSideDrawer>