/* Newly added for caledar*/
.schedule-date{
    font-size: 18;
    font-weight: bold;
}
StackLayout.today-date{
    padding: 10 0 10 0;
}

StackLayout.today-date.active{
    background-color: #e6e6e6;
    color: white;
}
.calendar-schedule .schedule-icon,
.calendar-reminder .reminder-icon,
.calendar-message .message-icon {
    margin-right: 10px;
    margin-left: 10px;
}
.calendar-schedule .item,
.calendar-reminder .item,
.calendar-message .item  {
    padding: 6px;
}
.calendar-schedule .item .event{
    margin-left: 20px;
}
.calendar-reminder .item {
    font-style: italic;
}
.rounded-corner-icon.avatar-icon{
    padding: 8px;
}
.calendar-message .kid-profile-pic{
    border-radius: 20;
}
.schedule-empty-data {
    color: #999999;
    font-weight: 700;
    font-size: 17;
    font-style: italic;
}