

/* Newly added for caledar*/

StackLayout.today-date {
    font-size: 14px;
    text-align: center;
}

StackLayout.today-date.active{
   background-color: #e6e6e6;
    color: white;
}

.calendar-schedule {
}


.calendar-schedule .schedule-icon,
.calendar-reminder .reminder-icon,
.calendar-message .message-icon {
    margin-right: 10px;
    margin-left: 10px;
}
.calendar-schedule .item,
.calendar-reminder .item,
.calendar-message .item  {
    padding: 6px;
   /* font-size: 13px*/
}

.calendar-schedule .item .event{
    margin-left: 20px;
}

.calendar-reminder .item {
    font-style: italic;
}


.rounded-corner-icon.avatar-icon{
    padding: 8px;

}
.calendar-message .item .kid-name{
    font-weight: bold;
    font-size: 13px;
}
.calendar-message .item .relation-name{
    font-size: 12px;
    font-style: italic;
    margin-left: 5px;
    margin-top: 1px;
}

.calendar-message .kid-profile-pic{
    border-radius: 20;
}




