<ActionBar title="">

    <NavigationButton *ngIf="isAndroid" icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
    <ActionItem *ngIf="isIos" icon="res://ic_menu" ios.position="left" (tap)="openDrawer()"></ActionItem>

    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="center">
        <Image height="32" width="32" src="~/images/calender-icon-32.png"
               class="m-r-10 action-image"></Image>
        <Label verticalAlignment="center" text="Daily"  class="action-label"></Label>
    </StackLayout>
</ActionBar>

<RadSideDrawer #drawerComponent tkToggleNavButton>
    <ScrollView tkDrawerContent class="drawer-content">
        <StackLayout horizzontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <GridLayout tkMainContent>
        <ScrollView>
            <StackLayout>

                <StackLayout (tap)="createModalDatePickerView()" class="today-date green p-y-15 {{ iscurrentDateSelected ? 'active' : ''}}">
                        <Gridlayout cols="auto,auto" verticalAlignment="center" orientation="horizontal">
                            <Label row="0" col="0" verticalAlignment="center" text="{{ currentDate  | date: 'EEEE, MMMM d' }}" class="text-center font-weight-bold"></Label>
                            <Label row="0" col="1" verticalAlignment="center" horizontalAlignment="right" class="fa m-r-20 text-right" text="{{'fa-chevron-right' | fonticon}}"></Label>
                        </Gridlayout>
                </StackLayout>

                <StackLayout style="height: 1; background-color: #dddddd;margin-bottom: 7;">
                </StackLayout>

                <!-- ##################  Scheules-------------------------------------------------------------------------------->
                <DockLayout *ngIf="schedules.length" stretchLastChild="false" class="calendar-schedule">
                    <Image dock="left" stretch ="none" verticalAlignment="center" class="schedule-icon"  src="res://schedule_icon"></Image>
                    <StackLayout verticalAlignment="center">
                        <GridLayout rows="auto,auto" *ngFor="let item of schedules; let i = index" >
                            <GridLayout row="0" columns="auto, auto" rows="auto,auto"
                                        class="item {{ isScheduleTimeIsCurrent(item.start_time, item.end_time) ? 'blue' : '' }}">
                                <Label col="0"  row="0"
                                       text="{{item.start_time | date: 'HH:mm' }}-{{ item.end_time | date: 'HH:mm a' }}">
                                </Label>
                                <Label col="1" row="0"  class="event" text="{{ item.name }}" textWrap="true"></Label>
                            </GridLayout>
                            <!-- Don't show horizontal line for last element -->
                            <StackLayout *ngIf="schedules.length > (i+1)" class="hr-light" row="1"></StackLayout>
                        </GridLayout>
                    </StackLayout>
                </DockLayout>

                <StackLayout *ngIf="schedules.length" class="line-separator">
                </StackLayout>

                <!-- ##################  Reminders-------------------------------------------------------------------------------->

                <DockLayout *ngIf="event_reminders.length || birthdays.length || holidays.length" stretchLastChild="false" class="calendar-reminder font-italic">
                    <Image dock="left" stretch ="none" verticalAlignment="center" class="reminder-icon"  src="res://reminder_icon"></Image>
                    <StackLayout verticalAlignment="center">

                        <!-- Birthdays -->
                        <SatckLayout orientation="horizontal" *ngFor="let item of birthdays; let i = index" >
                            <Label col="0" text="{{item.description}}" class="item"></Label>
                            <StackLayout *ngIf="birthdays.length > (i+1)" class="hr-light" row="1"></StackLayout>
                        </SatckLayout>

                        <!-- Event Reminders -->
                        <StackLayout *ngIf="birthdays.length > 0 && event_reminders.length > 0"  class="hr-light" row="1"></StackLayout>
                        <SatckLayout  orientation="horizontal" *ngFor="let item of event_reminders; let i = index" >
                            <Label (tap)="openDescription(item.description)" col="0" text="{{ item.description }}" class="item" textWrap="true"></Label>
                            <StackLayout *ngIf="event_reminders.length > (i+1)" class="hr-light" row="1"></StackLayout>
                        </SatckLayout>

                        <!-- Holidays -->
                        <StackLayout *ngIf="event_reminders.length > 0 && birthdays.length > 0 && holidays.length > 0"
                                     class="hr-light" row="1"></StackLayout>
                        <SatckLayout orientation="horizontal" *ngFor="let item of holidays; let i = index" >
                            <Label col="0" text="{{ item.description }}" class="item blue" textWrap="true"></Label>
                            <StackLayout *ngIf="holidays.length > (i+1)" class="hr-light" row="1"></StackLayout>
                        </SatckLayout>

                    </StackLayout>
                </DockLayout>

                <StackLayout class="line-separator" *ngIf="event_reminders.length || birthdays.length || holidays.length" >
                </StackLayout>

                <!-- ##################  Messages -------------------------------------------------------------------------------->
                <DockLayout *ngIf="messages.length"  stretchLastChild="false" class="calendar-message">
                    <Image dock="left" stretch ="none" verticalAlignment="center" class="message-icon"  src="res://message_icon"></Image>
                    <StackLayout verticalAlignment="center">
                        <GridLayout rows="auto,auto" *ngFor="let item of messages; let i = index" >
                            <GridLayout row="0" columns="50, *" rows="*" class="item">
                                <StackLayout  verticalAlignment="center">
                                    <Image height="40" width="40" class="kid-profile-pic blue-circle-border"
                                           src="{{ item.photograph ? item.photograph : '~/images/avatar-100.png' }}"></Image>
                                </StackLayout>
                                <StackLayout col="1">
                                    <StackLayout col="1" orientation="horizontal">
                                        <Label class="kid-name" [text]="item.sender_name" textwrap="true"></Label>
                                        <Label class="relation-name light-gray" text="{{ item.child_name }}'s {{ item.child_relationship }}" textwrap="true"></Label>
                                    </StackLayout>
                                    <Label [text]="item.text" class="{{ item.read_message ? 'text-muted' : 'blue' }}" col="1" textwrap="true"></Label>
                                </StackLayout>
                            </GridLayout>
                            <!-- Don't show horizontal line for last element -->
                            <StackLayout *ngIf="messages.length > (i+1)" class="hr-light" row="1"></StackLayout>
                        </GridLayout>
                    </StackLayout>
                </DockLayout>


            </StackLayout>
        </ScrollView>

        <StackLayout class="dimmer" visibility="{{ isLoading ? 'visible' : 'collapsed'}}"></StackLayout>
        <GridLayout rows="*" visibility="{{ isLoading ? 'visible' : 'collapsed'}}">
            <ActivityIndicator class="busy activity-indicator" busy="true"></ActivityIndicator>
        </GridLayout>
    </GridLayout>

</RadSideDrawer>