/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18px;
}

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';
@import url("~/platform.css");



.drawer-content {
    background-color: #eeeeee;
    color: black;
}

.drawer-content .drawer-header {
    height: 150px;
    background-color: #9fc5f8;
    margin-bottom: 7px;
}

.drawer-content .drawer-links .drawer-link {
    font-size: 15px;
    padding: 15px;
}

.drawer-content .drawer-links .drawer-link .fa {
    font-size: 20px;
    margin-right: 10px;
}

.drawer-content .drawer-links .drawer-link .text {
    margin-left: 30px;
}

.drawer-content .drawer-links .current {
    background-color: #dddddd;
}

.drawer-content .drawer-separator  {
    height: 1px;
    background-color: #dddddd;
    margin: 7px 0;
}

.todo-next {
    padding: 20px;
}

.todo-next > Button {
    font-size: 24px;
}

.todo-next > Button.disabled {
    color: #999999;
}

.todo-filter {
    padding: 20px;
}

.todo-filter > Label {
    text-align: center;
}

.todo-filter > Label.active {
    color: #19469D;
    font-weight: bold;
}

.todo-item {
    margin: 20px 20px 0 20px;
    padding: 10px;

}

.checkbox {
    width: 22px;
    height: 22px;
    margin: 0 10px 0 0;
    horizontal-align: left;
}

@keyframes glow {
    0% {
        background-color: #eeeeee;
    }
    50% {
        background-color: #b7b7b7;
    }
    100% {
        background-color: #eeeeee;
    }
}

.anim {
    animation-name: glow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* application css*/

Page {
    background-color: white;
    font-size: 15px;
}
TextField {
    padding: 10px;
    font-size: 13px;
}

/*colors --*/
.blue{
    color: #2b78e4;
}
.blue-background{
    background-color: #2b78e4;
}
.blue2{
    color: #9fc5f8;
}
.green {
    color: #93c47d;
}
.dark-gray{
    color: #333333;
}
.light-gray{
    color: #666666;
}

.very-light-gray{
    color: #bdbdbd;
}



.fa {
    font-family: FontAwesome, fontawesome-webfont;
}

ActionBar {
    background-color: #9fc5f8;
    color: white;
}

.action-label{
    font-size: 15px;
    font-weight: bold;
}

.line-separator  {
    height: 1px;
    background-color: #dddddd;
    margin: 7px 0;
}


.number-with-circle{
    display: block;
    height: 15px;
    width: 15px;
    line-height: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 10px;
}


.rounded-corner-icon{
    border-color:  #9fc5f8;
    border-width: 2;
    border-radius: 38;
}
