/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';
@import url("~/platform.css");


/* THEME OVERRIDES*/
.bg-primary{
    background-color: #6fa8dc;
}

.text-primary{
    color: #6fa8dc;
}
.btn-primary{
    background-color: #6fa8dc;
}

.text-muted{
    color: #cccccc;
}

/* kid last sing in/out label */
.bg-green-label{
    background-color: #b7d6a9;
}



/*
.fa {
    font-family: FontAwesome, fontawesome-webfont;
}
*/

.material-icons {
    font-family: MaterialIcons-Regular, Material Icons;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }



/* application css*/

Page {
    background-color: #ffffff;
    font-size: 16;
    font-family: Roboto-Regular;
    color: #656469;
}

TextField {
    padding: 10;
    font-size: 14;
}

/*colors --*/
.blue{
    color: #2b78e4;
}
.blue-background{
    background-color: #2b78e4;
}
.blue2{
    color: #6fa8dc;
}
.green {
    color: #93c47d;
}


.dark-gray{
    color: #333333;
}
.light-gray{
    color: #666666;
}

.very-light-gray{
    color: #bdbdbd;
}


ActionBar {
    background-color: white;
    color: #6fa8dc;
}

NavigationButton, ActionItem{
    color: #6fa8dc;
}


.action-label{
    font-size: 18;
    font-weight: bold;
    color: #6fa8dc;
}

.line-separator  {
    height: 1;
    background-color: #dddddd;
    margin: 7 0;
}

.number-with-circle{
    font-size: 12;
    color: white;
    border-radius: 10;
    height: 20;
    width: 20;
}


.rounded-corner-icon{
    border-color:  #6fa8dc;
    border-width: 2;
    border-radius: 38;
}

/* border for circle images ..*/
.blue-circle-border {
    border-color:  #6fa8dc;
    border-width: 2;
}



.drawer-content {
    background-color: #eeeeee;
    color: black;
}

.drawer-content .drawer-header {
    height: 160;
    /*background-color: #9fc5f8;*/
}

.drawer-content .drawer-header .teacher-profile-pic {
    border-radius: 50;
}
.drawer-content .drawer-header .teacher-name{
    color: black;
}


.drawer-content .drawer-links .drawer-link {
    font-size: 15;
    padding: 15;
}

.drawer-content .drawer-links .drawer-link .fa {
    font-size: 20;
    margin-right: 10;
}

.drawer-content .drawer-links .drawer-link .text {
    margin-left: 30;
}

.drawer-content .drawer-links .current {
    background-color: #dddddd;
}

.drawer-content .drawer-separator  {
    height: 1;
    background-color: #dddddd;
    margin: 7 0;
}

.todo-next {
    padding: 20;
}

.todo-next > Button {
    font-size: 24;
}

.todo-next > Button.disabled {
    color: #999999;
}

.todo-filter {
    padding: 20;
}

.todo-filter > Label {
    text-align: center;
}

.todo-filter > Label.active {
    color: #19469D;
    font-weight: bold;
}

.todo-item {
    margin: 20 20 0 20;
    padding: 10;

}

.checkbox {
    width: 22;
    height: 22;
    margin: 0 10 0 0;
    horizontal-align: left;
}

@keyframes glow {
    0% {
        background-color: #eeeeee;
    }
    50% {
        background-color: #b7b7b7;
    }
    100% {
        background-color: #eeeeee;
    }
}

.anim {
    animation-name: glow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*Activity Indicator*/
StackLayout.dimmer{
    background-color:rgba(0, 0, 0, 0.2);
    /*opacity: 0.7;*/
}
ActivityIndicator.busy {
   /* height: 70;
    width: 70;*/
    color: #2b78e4;
}

.hr-shadow{
    height:2;
    background-color:#e0e0e0;
    width:100%;
    border: 0;
    box-shadow: 0 10 10 -10 #8c8b8b inset;
}


/* Card related styles */
.whiteCard{
    background-color: white;
    color: black;
}

.blueCard {
    background-color: #2b78e4;
    color: #fff;
}

.grayCard{
    background-color: #F8F8F8 ;
    color: black;
}


/* styles for empty notes/reminder/forms&docs message */
StackLayout.empty-page {
    margin: 0 30 40 30;
}
.empty-page .message {
    color: #999999;
    font-weight: 700;
    font-size: 17;
    font-style: italic;
    margin-bottom: 30;
}


.profile-name {
    font-weight: bold;
    color: black;
}

.profile-relationship {
    margin-left: 5;
    color: #999999;
    font-style: italic;
    font-size: 15;
    font-weight: 700;
}

.message-text {
    margin-top: 4;
    font-size: 17;
}