<ActionBar title="">
    <!-- left area  -->
    <NavigationButton *ngIf="isIos" visibility="collapsed"></NavigationButton>
    <NavigationButton *ngIf="isAndroid" icon="res://ic_left" (tap)="goBack()"></NavigationButton>
    <ActionItem *ngIf="isIos" icon="res://ic_left" visibility="visible"
                ios.position="left" (tap)="goBack()"></ActionItem>
    <!-- center area  -->
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="center">
        <StackLayout orientation="horizontal" verticalAlignment="center">
            <Label text="Capture a moment" class="action-label"></Label>
        </StackLayout>
    </StackLayout>
    <!-- right area  -->
    <ActionItem (tap)="saveMoment()" ios.position="right" andriod.postion="actionBar" icon="res://ic_check">
    </ActionItem>
</ActionBar>



<GridLayout class="moment-capture-container">

    <ScrollView>
        <GridLayout>
            <GridLayout rows="auto,auto">
                <StackLayout row="0" orientation="horizontal">
                    <CardView margin="0" radius="0" elevation="5" shadowOffsetWidth="1" shadowOffsetHeight="1" class="whiteCard">
                        <Gridlayout rows="auto" columns="auto,*" verticalAlignment="center"
                                    orientation="horizontal" class="item" height="120">
                            <Image visibility="{{ textOnly ? 'collapse' : 'visible' }}" (tap)="selectMomentCaptureOption()" row='0' col="0" id="moment-image" height="120"
                                   width="120"
                                   stretch="aspectFill" class="" src="~/images/avatar-100.png"></Image>

                            <StackLayout row='0' col="1">
                                <TextField  class="input-without-border-bottom" hint="title"
                                            id="moment-title" [(ngModel)]="momentTitle"></TextField>
                                <StackLayout class="hr-light"></StackLayout>

                                <TextView class="input-without-border-bottom" height="80"
                                          hint="what is this post about? enter here..." id="moment-additional-details"
                                          text="" [(ngModel)]="additionalDetails" editable="true"
                                          borderColor="white"></TextView>
                            </StackLayout>

                        </Gridlayout>
                    </CardView>
                </StackLayout>
                <StackLayout class="kid-list" row="1">
                    <StackLayout class="m-10" verticalAlignment="center">
                        <Label text="choose kids to tag in this post"
                               textWrap="true" class="text-center font-weight-bold"></Label>
                        <Label text="only tagged kid's parent(s) can see this post"
                               textWrap="true" class="text-center text-muted font-italic"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>



                    <StackLayout>
                        <StackLayout *ngFor="let kid of managedKids;" (tap)="tagKid(kid.kid_klid)"
                                     id="kid-container-{{ kid.kid_klid }}" class="{{ kid.isTagged ? 'checked item-selected' : 'unchecked' }}">
                            <Gridlayout rows="auto" columns="auto,*,auto" verticalAlignment="center"
                                        orientation="horizontal" class="item">

                                <StackLayout row="0" col="0">
                                    <Image *ngIf="isIos && kid.photograph_url" height="40" width="40"
                                           class="kid-profile-pic"
                                           src="{{ kid.photograph_url }}"></Image>
                                    <FrescoDrawee *ngIf="isAndroid && kid.photograph_url" height="40" width="40"
                                                  class="kid-profile-pic"
                                                  imageUri="{{ kid.photograph_url }}"
                                                  verticalAlignment="top"
                                                  roundAsCircle="true"
                                                  fadeDuration="600"></FrescoDrawee>

                                </StackLayout>

                                <StackLayout row='0' col="0" *ngIf="!kid.photograph_url"
                                             class="blue-circle-border small-avatar-with-name text-center"
                                             verticalAlignment="center">
                                    <Label [text]="kid | shortName | uppercase"></Label>
                                </StackLayout>

                                <Label row="0" col="1" verticalAlignment="center"
                                       [text]="kid.fname ? (kid.fname+' '+kid.lname) : kid.nickname"
                                       class="m-l-20 font-weight-bold" textWrap="true"></Label>
                                <Image row="0" col="2" height="24" width="24" stretch="aspectFit"
                                       id="checkbox-{{ kid.kid_klid }}" class="text-right m-r-10"
                                       horizontalAlignment="right" src="~/images/check-box-{{ kid.isTagged ? 'checked' : 'unchecked' }}.png"></Image>

                            </Gridlayout>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </GridLayout>
        </GridLayout>

    </ScrollView>

    <StackLayout class="dimmer" visibility="{{ isLoading ? 'visible' : 'collapsed'}}"></StackLayout>
    <GridLayout rows="*" visibility="{{ isLoading ? 'visible' : 'collapsed'}}">
        <ActivityIndicator class="busy activity-indicator" busy="true"></ActivityIndicator>
    </GridLayout>

</GridLayout>