<ActionBar title="Tag Kids" *ngIf="isIos">
    <NavigationButton visibility="collapsed"></NavigationButton>

    <ActionItem visibility="{{ showActionBarItems ? 'visible' : 'collapsed' }}"
                ios.position="left" android.position="left" (tap)="goBack()">
        <Label class="blue2 material-icons md-36 md-chevron-left" text="&#xE5CB;"></Label>
    </ActionItem>

    <ActionItem (tap)="saveMoment()" visibility="{{ showActionBarItems ? 'visible' : 'collapsed' }}"
                ios.position="right" android.position="right">
        <Label *ngIf="s3_key" (tap)="saveMoment()"
               class="blue2 material-icons md-36 md-chevron-right" text="&#xE5CA;"></Label>
        <ActivityIndicator visibility="collapsed"
                           class="busy activity-indicator"
                           busy="{{ s3_key ? false : true }}">
        </ActivityIndicator>

    </ActionItem>
</ActionBar>


<ActionBar title="" *ngIf="isAndroid">
    <NavigationButton icon="res://ic_left" (tap)="goBack()"></NavigationButton>
    <StackLayout orientation="horizontal"
                 android:horizontalAlignment="center">
        <Label verticalAlignment="center" text="Tag Kids"  class="action-label"></Label>
    </StackLayout>
    <ActionItem (tap)="saveMoment()">
        <Label *ngIf="s3_key" (tap)="saveMoment()"
               class="blue2 material-icons md-36 md-chevron-right" text="&#xE5CA;"></Label>
        <ActivityIndicator visibility="collapsed"
                           class="busy activity-indicator"
                           busy="{{ s3_key ? false : true }}">
        </ActivityIndicator>
    </ActionItem>
</ActionBar>



<GridLayout class="moment-capture-container">

    <ScrollView>
        <GridLayout>
            <GridLayout rows="auto,auto">
                <StackLayout row="0" orientation="horizontal">
                    <CardView margin="0 0 5 0" radius="0" shadowOffsetHeight="1" class="whiteCard">
                        <Gridlayout rows="auto" columns="auto,*" verticalAlignment="center"
                                    class="settings-item"
                                    orientation="horizontal" class="item">
                            <Image (tap)="selectMomentCaptureOption()" row='0' col="0" id="moment-image" height="100" width="100"
                                   stretch="aspectFill" class="" src="~/images/avatar-100.png"></Image>
                            <TextView row='0' col="1" hint="enter additional details" id="moment-additional-details"
                                      text=""
                                      [(ngModel)]="additionalDetails" editable="true"
                                      borderColor="white"></TextView>
                        </Gridlayout>
                    </CardView>
                </StackLayout>
                <StackLayout class="kid-list" row="1">
                    <StackLayout class="m-10" verticalAlignment="center">
                        <Label text="Tag Kids" class="text-center font-weight-bold"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>

                    <StackLayout>
                        <StackLayout *ngFor="let kid of managedKids" (tap)="tagKid(kid.kid_klid)"
                                     id="kid-container-{{ kid.kid_klid }}" class="unchecked selected">
                            <Gridlayout rows="auto" columns="auto,*,auto" verticalAlignment="center"
                                        orientation="horizontal" class="item">
                                <Image row='0' col="0" height="40" width="40" class="kid-profile-pic blue-circle-border"
                                       src="{{ kid.photograph_url || '~/images/avatar-100.png' }}"></Image>
                                <Label row="0" col="1" verticalAlignment="center" text="{{ kid.fname }} {{ kid.lname }}"
                                       class="m-l-20 font-weight-bold"></Label>
                                <Image id="checkbox-{{ kid.kid_klid }}" row="0" col="2" class="text-right m-r-10"
                                       stretch="aspectFill" verticalAlignment="center" horizontalAlignment="right"
                                       src="~/images/check-box-unchecked.png"></Image>

                            </Gridlayout>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </GridLayout>
        </GridLayout>

    </ScrollView>

    <StackLayout class="dimmer" visibility="{{ isLoading ? 'visible' : 'collapsed'}}"></StackLayout>
    <GridLayout rows="*" visibility="{{ isLoading ? 'visible' : 'collapsed'}}">
        <ActivityIndicator class="busy activity-indicator" busy="true"></ActivityIndicator>
    </GridLayout>

</GridLayout>