 <ActionBar title="">
    <!-- left area  -->
    <NavigationButton *ngIf="isIos" visibility="collapsed"></NavigationButton>
    <NavigationButton *ngIf="isAndroid" icon="res://ic_left" (tap)="goBack()"></NavigationButton>
    <ActionItem *ngIf="isIos" icon="res://ic_left" visibility="visible"
                ios.position="left" (tap)="goBack()"></ActionItem>
    <!-- center area  -->
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="center">
        <StackLayout orientation="horizontal" verticalAlignment="center">
            <Label text="{{ kid.fname }} {{ kid.lname }}" class="action-label"></Label>
        </StackLayout>
    </StackLayout>
    <!-- right area  -->
</ActionBar>


<GridLayout class="kid-profile">
    <PullToRefresh (refresh)="refreshList($event)" #pullToRefresh>
        <ScrollView>
            <GridLayout rows="auto,auto,auto,auto,auto,auto,auto" tkMainContent class="kid-dashboard">
                <!--- Profile section -->
                <GridLayout row="0" class="section1 p-y-10 p-x-20" backgroundColor="#e9e9e9">
                    <GridLayout row="0" cols="auto,auto" class="kid-profile-container" orientation="vertical">
                        <StackLayout col="1" orientation="horizontal" horizontalAlignment="right" class="">
                            <!--<Label width="200" class="kid-name text-center" text="{{ kid.fname }} {{ kid.lname }}" textWrap="true"></Label>-->
                            <StackLayout width="auto" class="kid-profile-image-container text-left">
                                <Image src="{{ kid.photograph_url || '~/images/avatar-100.png' }}"
                                       class="kid-profile-image"></Image>
                            </StackLayout>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>


                <GridLayout row="1">
                    <GridLayout columns="*,30,*,30,*" verticalAlignment="center" class="navigation-links-1">

                        <StackLayout col="0" row="0" horizontalAlignment="center" orientation="vertical"
                                     (tap)="openKidProfile(kid)">
                            <Image text="top" stretch="none" horizontalAlignment="center"
                                   src="res://profile_details_40"></Image>
                            <Label text="Profile details"></Label>
                        </StackLayout>
                        <StackLayout col="1" row="0" horizontalAlignment="center" verticalAlignment="center"
                                     orientation="vertical">
                            <Image height="50" width="50" stretch="aspectFill" horizontalAlignment="center"
                                   src="~/images/line_icon-50.png"></Image>
                        </StackLayout>


                        <StackLayout col="2" [nsRouterLink]="['/kid-forms-and-docs']" pageTransition="slideLeft" row="0"
                                     horizontalAlignment="center" orientation="vertical">
                            <Image text="top" stretch="none" horizontalAlignment="center"
                                   src="res://doc_lock_icon_40"></Image>
                            <Label text="form&docs"></Label>
                        </StackLayout>

                        <StackLayout col="3" row="0" horizontalAlignment="center" verticalAlignment="center"
                                     orientation="vertical">
                            <Image height="50" width="50" stretch="aspectFill" horizontalAlignment="center"
                                   src="~/images/line_icon-50.png"></Image>
                        </StackLayout>

                        <StackLayout [nsRouterLink]="['/kid-notes']" pageTransition="slideLeft"
                                     col="4" row="0" horizontalAlignment="center" orientation="vertical">
                            <Image text="top" stretch="none" horizontalAlignment="center"
                                   src="res://notes_icon_40"></Image>
                            <Label text="Notes"></Label>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>

                <GridLayout row="2">
                    <StackLayout class="horizontal-separator">
                    </StackLayout>
                </GridLayout>

                <GridLayout row="3">
                    <GridLayout columns="*, auto ,*" class="navigation-links-2">
                        <StackLayout [nsRouterLink]="['/kid-reminders']" pageTransition="slideLeft"
                                     col="0" row="0" verticalAlignment="center" horizontalAlignment="center"
                                     orientation="horizontal">
                            <Label text="" class="number-with-circle reminders"></Label>
                            <Label text="Reminders"></Label>
                        </StackLayout>

                        <StackLayout col="1" row="0" verticalAlignment="center" horizontalAlignment="center"
                                     orientation="vertical">
                            <Image height="50" width="50" stretch="aspectFill" horizontalAlignment="center"
                                   src="~/images/line_icon-50.png"></Image>
                        </StackLayout>

                        <StackLayout [nsRouterLink]="['/messages']" pageTransition="slideLeft"
                                     col="2" row="0" verticalAlignment="center" horizontalAlignment="center"
                                     orientation="horizontal">
                            <Label text="" class="number-with-circle notifications"></Label>
                            <Label text="Messages"></Label>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>

                <GridLayout row="4">
                    <StackLayout class="horizontal-separator">
                    </StackLayout>
                </GridLayout>

                <GridLayout row="5">
                    <StackLayout (tap)="selectMomentCaptureOption()" horizontalAlignment="center" orientation="vertical"
                                 class="capture-moment-section p-t-5 p-b-20">
                        <Image text="top" stretch="none" horizontalAlignment="center"
                               src="res://camera_icon_60"></Image>
                        <Label text="capture a moment, share with parent(s)..." class="capture-note"></Label>
                    </StackLayout>
                </GridLayout>

                <StackLayout row="6">
                    <GridLayout height="13" backgroundColor="#c6c6c6" *ngIf="posts.length"></GridLayout>

                    <StackLayout class="moment-image-container" *ngIf="posts.length" orientation="vertical">
                        <StackLayout *ngFor="let post of posts">
                            <GridLayout id="post-{{ post.kl_id }}" rows="auto,auto,auto,auto, auto, auto, auto">
                                <GridLayout row="0" (tap)="openPostImages(post)">
                                    <Image stretch="aspectFill" src="{{ post.image || 'https://placehold.it/500x500' }}"
                                           class="cover-image"></Image>
                                    <!--<StackLayout class="org-container" horizontalAlignment="right">
                                        <StackLayout orientation="horizontal">
                                            <StackLayout class="org-image-container">
                                                <Image [src]="moment.org_logo" stretch="none"> </Image>
                                            </StackLayout>
                                        </StackLayout>
                                    </StackLayout>-->
                                </GridLayout>

                                <GridLayout row="1" class="moment-tags">
                                    <StackLayout orientation="vertical">
                                        <GridLayout columns="*, auto" *ngIf="post.tagged_to.length">
                                            <WrapLayout col="0" row="0"  orientation="horizontal">
                                                <StackLayout *ngFor="let item of post.tagged_to; let i = index" margin="3">
                                                    <Image height="40" width="40"
                                                           class="kid-profile-pic blue-circle-border"
                                                           src="{{ item.photograph ||  '~/images/avatar-100.png' }}"></Image>
                                                </StackLayout>
                                            </WrapLayout>


                                            <StackLayout col="1" row="0" horizontalAlignment="right"
                                                         orientation="horizontal" height="50" verticalAlignment="top">
                                                <StackLayout orientation="vertical">
                                                    <Label text="{{  post.created_at.substring(0,10) |  date: 'MMMM dd, yyyy' }}"
                                                           class="tagged-on-date"></Label>
                                                    <Image (tap)="showHearters(post)" class="m-t-5"
                                                           id="post-hearted-image-{{ post.kl_id }}"
                                                           visibility="{{ post.hearted ? 'visible' : 'collapsed'}}"
                                                           height="25" width="40" stretch="aspectFit"
                                                           src="{{ post.hearted ? (post.asset_base_url + post.heart_icon) : '~/images/heart-icon-red-48.png' }}"
                                                           horizontalAlignment="right">
                                                    </Image>
                                                </StackLayout>
                                            </StackLayout>
                                        </GridLayout>
                                        <StackLayout *ngIf="post.text" class="m-5">
                                            <Label textWrap="true" text="{{ post.text }}"></Label>
                                        </StackLayout>
                                    </StackLayout>


                                </GridLayout>
                                <GridLayout row="2">
                                    <StackLayout class="horizontal-separator" margin="0 10 0 10">
                                    </StackLayout>
                                </GridLayout>
                                <GridLayout row="3" class="moment-comments">

                                    <GridLayout rows="auto,auto,auto,auto,auto,auto" *ngIf="post.comments">
                                        <GridLayout row="{{ i }}" *ngFor="let comment of post.comments; let i = index">
                                            <StackLayout orientation="horizontal" verticalAlignment="center"
                                                         class="moment-comment-item"
                                                         id="comment-slug-{{ comment.slug }}">

                                                <Image height="60" width="60"
                                                       class="parent-profile-pic blue-circle-border"
                                                       src="{{ comment.commenter_photo || '~/images/avatar-100.png' }}"></Image>

                                                <StackLayout orientation="vertical" class="comment-details p-l-5">
                                                    <StackLayout orientation="horizontal">
                                                        <Label [text]="comment.commented_by"
                                                               class="profile-name font-weight-bold"></Label>
                                                        <Label *ngIf="comment.child_name"
                                                               text="{{ comment.child_name }}'s {{ comment.child_relationship }}"
                                                               class="profile-relationship text-muted"></Label>
                                                    </StackLayout>
                                                    <Label [text]="comment.content" textWrap="true"></Label>
                                                </StackLayout>
                                            </StackLayout>
                                            <GridLayout row="{{ i+1 }}">
                                                <StackLayout class="comment-hr-separator">
                                                </StackLayout>
                                            </GridLayout>
                                        </GridLayout>
                                    </GridLayout>
                                </GridLayout>

                                <GridLayout row="4">
                                    <StackLayout class="comment-hr-separator">
                                    </StackLayout>
                                </GridLayout>
                                <GridLayout row="5" class="moment-bottom-section">
                                    <GridLayout columns="auto,*,auto">
                                        <StackLayout col="0" row="0" horizontalAlignment="left" orientation="horizontal"
                                                     marginLeft="10">
                                            <Image visibility="visible" stretch="none"
                                                   class="{{ post.hearted ? 'hearted' : 'not-hearted' }}"
                                                   (tap)="addOrRemoveHeart(post)"
                                                   id="post-add-remove-heart-{{ post.kl_id }}"
                                                   src="res://heart_icon_{{ post.hearted ? 'gray' : 'light' }}"></Image>
                                            <ActivityIndicator height="25" width="30"
                                                               id="post-add-remove-heart-indicator-{{ post.kl_id }}"
                                                               visibility="collapsed" class="busy activity-indicator"
                                                               busy="{{isAndroid ? true : false }}"></ActivityIndicator>
                                        </StackLayout>

                                        <StackLayout (tap)="showModalCommentToPost(post)" col="1" row="0"
                                                     horizontalAlignment="center" orientation="horizontal"
                                                     marginLeft="10">
                                            <Image stretch="none" src="res://comment_icon" class="m-r-10"></Image>
                                            <Label text="Comment" class="comment-label"></Label>
                                        </StackLayout>
                                        <StackLayout (tap)="selectPostActions(post)" col="3" row="0"
                                                     horizontalAlignment="right"
                                                     orientation="horizontal"
                                                     margin="0 10 0 0">
                                            <Image stretch="none" src="res://more_icon" horizontalAlignment="right"
                                                   marginLeft="30"></Image>
                                        </StackLayout>
                                    </GridLayout>
                                </GridLayout>
                                <GridLayout row="6" height="13" backgroundColor="#c6c6c6"></GridLayout>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </GridLayout>

        </ScrollView>
    </PullToRefresh>
    <StackLayout class="dimmer" visibility="{{ isLoading ? 'visible' : 'collapsed'}}"></StackLayout>
    <GridLayout rows="*" visibility="{{ isLoading ? 'visible' : 'collapsed'}}">
        <ActivityIndicator class="busy activity-indicator" busy="true"></ActivityIndicator>
    </GridLayout>
</GridLayout>