
.conversation {
  margin-top: 10;
}

.conversation .date {
    color: #cccccc;
    font-size: 14;
    font-weight: 700;
}

.messages .message-item {
    margin: 10 20 10 10;
}

.messages .message-item .profile-pic {
    border-radius: 38;
}

.messages .message-item .profile-pic-container {
    margin-right: 10;
}





.message-form{
    border-width: 1;
    border-color: #999999;
   /* border-radius: 2;*/
    padding: 10;
    background-color: white;
}

.message-form .send-button{
    font-weight: bold;
    color: white;
}

.message-form .send-button .disabled{
    background-color: grey;
}
 


