/*padding fix for android to center the camera icon*/
.camera-icon-with-circle{
    padding-top: 6;
    color: white;
    border-radius: 17;
    height: 35;
    width: 35;
    background-color: #6fa8dc;
}