<ScrollView>

    <GridLayout  rows="auto,auto,auto,auto,auto,auto,auto" tkMainContent class="kid-dashboard">

        <GridLayout row="0" class="section1" backgroundColor="#e9e9e9">
            <!--<Image stretch="aspectFill" [src]="other.coverUrl" class="kid-cover-image"></Image>-->
            <StackLayout class="kid-profile-container">
                <StackLayout orientation="horizontal">
                    <Label class="kid-name" [text]="other.name"></Label>
                    <StackLayout class="kid-profile-image-container">
                        <Image [src]="other.pictureUrl" class="kid-profile-image"> </Image>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </GridLayout>


        <GridLayout row="1">
            <GridLayout columns="*, *, *" class="navigation-links-1">

                <StackLayout col="0" row="0" horizontalAlignment="center" orientation="vertical" class="profile-details">
                    <Image text="top" horizontalAlignment="center" src="~/images/profile-details-60.png" stretch="none"></Image>
                    <Label text="Profile Details"></Label>
                </StackLayout>

                <StackLayout col="1" row="0" horizontalAlignment="center" orientation="vertical" class="documents">
                    <Image text="top" horizontalAlignment="center" src="~/images/doc-lock-icon-60.png" stretch="none"></Image>
                    <Label text="form&docs"></Label>
                </StackLayout>

                <StackLayout col="2" row="0" horizontalAlignment="center" orientation="vertical" class="notes">
                    <Image text="top" horizontalAlignment="center" src="~/images/notes-icon-60.png" stretch="none"></Image>
                    <Label text="Notes"></Label>
                </StackLayout>
            </GridLayout>
        </GridLayout>

        <GridLayout row="2">
            <StackLayout class="horizontal-separator">
            </StackLayout>
        </GridLayout>

        <GridLayout row="3">
            <GridLayout columns="*, *" class="navigation-links-2">
                <StackLayout col="0" row="0" horizontalAlignment="center" orientation="horizontal">
                    <Label text="" class="number-with-circle reminders"></Label>
                    <Label text="Reminders"></Label>
                </StackLayout>
                <StackLayout col="1" row="0" horizontalAlignment="center" orientation="horizontal">
                    <Label text="" class="number-with-circle notifications"></Label>
                    <Label text="Notifications"></Label>
                </StackLayout>
            </GridLayout>
        </GridLayout>

        <GridLayout row="4">
            <StackLayout class="horizontal-separator">
            </StackLayout>
        </GridLayout>

        <GridLayout row="5">
            <StackLayout horizontalAlignment="center" orientation="vertical" class="capture-moment-section">
                <Image text="top" horizontalAlignment="center" src="~/images/camera-icon-120.png" stretch="none"></Image>
                <Label text="capture a moment, share with parent(s)..." class="text very-light-gray"></Label>
            </StackLayout>
        </GridLayout>

        <GridLayout row="6" class="moment-image-container">
            <GridLayout rows="auto,auto,auto,auto, auto, auto">
                <GridLayout row="0">
                    <Image stretch="aspectFill" [src]="other.coverUrl" class="cover-image"></Image>
                    <StackLayout class="org-container" horizontalAlignment="right">
                        <StackLayout orientation="horizontal">
                            <StackLayout class="org-image-container">
                                <Image [src]="other.pictureUrl" class="kid-profile-image"> </Image>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>

                <GridLayout row="1" class="moment-tags">
                    <GridLayout columns="auto, *">
                        <StackLayout col="0" row="0" horizontalAlignment="left" orientation="horizontal">
                            <StackLayout *ngFor="let item of tags" margin="3">
                                <Image src="~/images/avatar-icon-32.png" stretch="none" class="rounded-corner-icon tagged-profile-pic"></Image>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout col="1" row="0" horizontalAlignment="right" orientation="horizontal">
                            <StackLayout orientation="vertical">
                                <Label text="January 01, 2017" class="tagged-on-date"></Label>
                                <Image src="~/images/heart-icon-red-48.png" stretch="none" horizontalAlignment="right"></Image>
                            </StackLayout>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>
                <GridLayout row="2">
                    <StackLayout class="horizontal-separator" margin="0 10 0 10">
                    </StackLayout>
                </GridLayout>
                <GridLayout row="3" class="moment-comments">

                    <GridLayout rows="auto,auto,auto,auto,auto,auto">
                        <GridLayout row="{{ i }}" *ngFor="let item of messages; let i = index">
                            <StackLayout orientation="horizontal" verticalAlignment="center" class="moment-comment-item">
                                <Image verticalAlignment="center" src="~/images/avatar-icon-32.png" stretch="none" class="rounded-corner-icon commenter-profile-pic"></Image>
                                <StackLayout orientation="vertical" class="comment-details">
                                    <StackLayout orientation="horizontal">
                                        <Label [text]="item.kid_name" class="kid-name"></Label>
                                        <Label [text]="item.relation" class="relation-name light-gray"></Label>
                                    </StackLayout>
                                    <Label [text]="item.text" textwrap="true"></Label>
                                </StackLayout>
                            </StackLayout>
                            <GridLayout row="{{ i+1 }}">
                                <StackLayout class="comment-hr-separator">
                                </StackLayout>
                            </GridLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>

                <GridLayout row="4">
                    <StackLayout class="comment-hr-separator">
                    </StackLayout>
                </GridLayout>
                <GridLayout row="5" class="moment-bottom-section">
                    <GridLayout columns="auto,auto,auto,*">
                        <StackLayout col="0" row="0" horizontalAlignment="left" orientation="horizontal" marginLeft="10">
                            <Image src="~/images/heart-icon-gray-48.png" stretch="none"></Image>
                        </StackLayout>

                        <StackLayout col="1" row="0" horizontalAlignment="left" orientation="horizontal" marginLeft="10">
                            <Image src="~/images/comment-icon-48.png" stretch="none"></Image>
                        </StackLayout>
                        <StackLayout col="2" row="0" horizontalAlignment="center" orientation="horizontal" marginLeft="10">
                            <Label text="Comment"></Label>
                        </StackLayout>
                        <StackLayout col="3" row="0" horizontalAlignment="right" orientation="horizontal" margin="0 10 0 0">
                            <Image src="~/images/more-icon-48.png" stretch="none" horizontalAlignment="right" marginLeft="30"></Image>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
        </GridLayout>
    </GridLayout>
</ScrollView>