<ActionBar title="">
    <!-- left area  -->
    <NavigationButton *ngIf="isIos" visibility="collapsed"></NavigationButton>
    <NavigationButton *ngIf="isAndroid" icon="res://ic_left" (tap)="goBack()"></NavigationButton>
    <ActionItem *ngIf="isIos" icon="res://ic_left" visibility="visible"
                ios.position="left" (tap)="goBack()"></ActionItem>
    <!-- center area  -->
    <StackLayout orientation="horizontal"
                 ios:horizontalAlignment="center"
                 android:horizontalAlignment="center">
        <StackLayout orientation="horizontal" verticalAlignment="center">
            <Label text="Forgot Password" class="action-label"></Label>
        </StackLayout>
    </StackLayout>
    <!-- right area  -->
</ActionBar>

<GridLayout class="login-container">
    <GridLayout rows="*, 150">
        <StackLayout row="0" verticalAlignment="center">
            <Image class="logo" src="~/images/logo-72@2x.png" stretch="none" horizontalAlignment="center"></Image>
            <StackLayout orientation="horizontal" horizontalAlignment="center" class="m-b-20">

                <TextField width="300" class="input input-border input-border-primary" hint="Email Address"
                           keyboardType="email" [(ngModel)]="email"
                           autocorrect="false" autocapitalizationType="none" id="email"></TextField>
                <!--<Label *ngIf="emailError"
                       class="input-info-box error-box material-icons md-24 md-close" text="&#xE5CD;"></Label>-->
            </StackLayout>
            <Button width="300" isEnabled="{{ isLoading ? false : true }}" text="Send Instructions"
                    class="btn btn-primary blue2-background btn-rounded-sm" (tap)="sendEmail()"></Button>
        </StackLayout>
    </GridLayout>

    <StackLayout class="dimmer" visibility="{{ isLoading ? 'visible' : 'collapsed'}}"></StackLayout>
    <GridLayout rows="*" visibility="{{ isLoading ? 'visible' : 'collapsed'}}">
        <ActivityIndicator class="busy activity-indicator" busy="true"></ActivityIndicator>
    </GridLayout>

</GridLayout>

