Image.logo {
    margin-bottom: 50;
}
Button, .forgot-password {
    margin: 0 50 0 50;
}

TextField{
    font-size: 16;
}

.forgot-pass-link{
    text-decoration: underline;
   /* margin: 0  30 10 30;*/
    font-size: 16;
}

.input-border{
    border-width:1;
    border-color:#6fa8dc;
    border-radius:2;
    padding: 10;
    color: black;
}

.input-border-primary {
    border-color: #6fa8dc;

}

.input-border-success {
    border-color: #b7d6a9;
}

.input-border-error {
    border-color: #e89999;
}


.btn-submit-email{
    padding: 20 10 10 20;
}